<%- include('header') %>
<div>
    <div class="add">
        <a type="button" class="btn btn-primary" href="/main/create">+ Add</a>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">API lists</h3>
        </div>
        <div class="panel-body apilist">
            <ul>
                <% lists.forEach(function(item){ %>
                    <li>
                        <h4><%= item.name %></h4>
                        <p><small>参数描述：<%= item.param %></small></p>
                        <p><small>功能描述：<%= item.descript %></small></p>
                        <div class="ope">
                            <a type="button" class="btn btn-link" href="/main/<%= item.key %>/edit">Edit</a>
                            <a type="button" class="btn btn-link" href="/main/<%= item.key %>/remove">Delete</a>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>

<%- include('footer') %>